[submodule "vendor/github.com/Sirupsen/logrus"]
	path = vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus
	branch = master
[submodule "vendor/github.com/VividCortex/godaemon"]
	path = vendor/github.com/VividCortex/godaemon
	url = https://github.com/VividCortex/godaemon
	branch = master
[submodule "vendor/github.com/bkaradzic/go-lz4"]
	path = vendor/github.com/bkaradzic/go-lz4
	url = https://github.com/bkaradzic/go-lz4
	branch = master
[submodule "vendor/github.com/boltdb/bolt"]
	path = vendor/github.com/boltdb/bolt
	url = https://github.com/boltdb/bolt
	branch = master
[submodule "vendor/github.com/cathalgarvey/go-minilock"]
	path = vendor/github.com/cathalgarvey/go-minilock
	url = https://github.com/cathalgarvey/go-minilock
	branch = master
[submodule "vendor/github.com/chzyer/readline"]
	path = vendor/github.com/chzyer/readline
	url = https://github.com/chzyer/readline
	branch = master
[submodule "vendor/github.com/codahale/chacha20poly1305"]
	path = vendor/github.com/codahale/chacha20poly1305
	url = https://github.com/codahale/chacha20poly1305
	branch = master
[submodule "vendor/github.com/disorganizer/surgemq"]
	path = vendor/github.com/disorganizer/surgemq
	url = https://github.com/disorganizer/surgemq
	branch = master
[submodule "vendor/github.com/dustin/go-humanize"]
	path = vendor/github.com/dustin/go-humanize
	url = https://github.com/dustin/go-humanize
	branch = master
[submodule "vendor/github.com/fatih/color"]
	path = vendor/github.com/fatih/color
	url = https://github.com/fatih/color
	branch = master
[submodule "vendor/github.com/gogo/protobuf"]
	path = vendor/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf
	branch = master
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
	branch = master
[submodule "vendor/github.com/golang/snappy"]
	path = vendor/github.com/golang/snappy
	url = https://github.com/golang/snappy
	branch = master
[submodule "vendor/github.com/ipfs/go-ipfs"]
	path = vendor/github.com/ipfs/go-ipfs
	url = https://github.com/ipfs/go-ipfs
	branch = master
[submodule "vendor/github.com/jbenet/go-multiaddr"]
	path = vendor/github.com/jbenet/go-multiaddr
	url = https://github.com/jbenet/go-multiaddr
	branch = master
[submodule "vendor/github.com/jbenet/go-multihash"]
	path = vendor/github.com/jbenet/go-multihash
	url = https://github.com/jbenet/go-multihash
	branch = master
[submodule "vendor/github.com/nbutton23/zxcvbn-go"]
	path = vendor/github.com/nbutton23/zxcvbn-go
	url = https://github.com/nbutton23/zxcvbn-go
	branch = master
[submodule "vendor/github.com/nightlyone/lockfile"]
	path = vendor/github.com/nightlyone/lockfile
	url = https://github.com/nightlyone/lockfile
	branch = master
[submodule "vendor/github.com/olebedev/config"]
	path = vendor/github.com/olebedev/config
	url = https://github.com/olebedev/config
	branch = master
[submodule "vendor/github.com/surgemq/message"]
	path = vendor/github.com/surgemq/message
	url = https://github.com/surgemq/message
	branch = master
[submodule "vendor/github.com/tsuibin/goxmpp2"]
	path = vendor/github.com/tsuibin/goxmpp2
	url = https://github.com/tsuibin/goxmpp2
	branch = master
[submodule "vendor/github.com/tucnak/climax"]
	path = vendor/github.com/tucnak/climax
	url = https://github.com/tucnak/climax
	branch = master
[submodule "vendor/github.com/wayn3h0/go-uuid"]
	path = vendor/github.com/wayn3h0/go-uuid
	url = https://github.com/wayn3h0/go-uuid
	branch = master
