#sidebar-bottom {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-bottom: 10px;
}

#sidebar-bottom-text {
	margin-left: 25px;
    font-size: 75%;
}


.nav-link {
  margin-left: 50px;
  font-weight: 500;
  font-size: 110%;
  font-weight: 600;
  color: #333;
  padding-right: 66px !important;
  padding-left: 0px !important;
}

.nav-link.active {
  color: #007bff !important;
}

@media all and (max-width: 768px) {
    .logo {
        font-size: 2em;
    }

	.ls-action-toolbar {
		color: red !important;
		flex-direction: column;
	}
}

@media all and (min-width: 768px) {
    .logo {
		padding-top: 20px;
		padding-bottom: 20px;
        font-size: 4em;
    }

	.ls-action-toolbar {
		color: blue !important;
		flex-direction: row;
	}
}

.logo-failure {
    color: red;
}

#remote-add-conflict-dropdown{
    padding-left: 2px !important;
    padding-bottom: 4px !important;
}

/* ---------------- */


.input-group-addon {
    background:transparent;
}

.input-group-addon button {
    border: 0px;
    background:transparent;
    padding: 0px;
}

.stylish-input-group .form-control{
	border-right: 0;
	box-shadow:0 0 0;
	border-color: #ccc;
}
.stylish-input-group .input-group-append {
    border:0;
    background:transparent;
}

/* ---------------- */

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .1s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/* ---------------- */

/* Add a bit of space before the main content */
#main-header-row {
    margin-top: 25px;
}

#main-content-row {
    margin-top: 25px;
}

#the-main {
	height: 100%;
}

/* Remove the grey background from the breadcrumbs */
.breadcrumb {
    border:0;
    background:transparent;
}

.file-list-icon {
  color: #007bff;
}

#share-list {
	list-style-type: none;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


.login-form {
	max-width: 38vw;
	margin: 50px auto;
}
.login-form > form {
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.login-form h2 {
	margin: 0 0 15px;
}
.login-input, .login-btn {
	min-height: 38px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 2px;
}

.login-btn {
	font-weight: bold;
	margin-top: 15px;
}

.login-header {
	padding-bottom: 15px;
}

.progress-cancel {
	padding: 0px;
	margin: 0px;
}

.notification-list > .alert {
	margin-bottom: 5px;
    height: 40px;
    line-height: 40px;
    padding: 0px 15px;
	font-size: 80%;
}

.notification-close-btn {
	color: rgba(0, 0, 0, 0.5);

	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

#action-btn {
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;

	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 2px;

    width: 100%;
    font-size: 92%;
}

.scrollable-modal-row {
    max-height: 42vh;
    overflow-y: scroll;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: rgba(235, 245, 255);
}

.sort-button-container {
    overflow: hidden;
    white-space: nowrap;
}

.sort-button-container * {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

.sort-button {
	padding-top: 4px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;

	margin-top: 0px;
    margin-right: 0px;
    margin-left: 3px;
    margin-bottom: 5px;
	background: white;
}

.sort-button-selected {
	color: #007bff;
}

body, html, .container-fluid {
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    max-height: 100%;
}

main {
    max-height: 100%;
    overflow-y: auto;
}

@media all and (max-width: 1200px) {
    .toolbar {
        padding-left: 25vw;
        padding: 10px;
        margin: auto;
        width: 50%;
    }
}

#select-label {
    text-align: left;
    font-size: 90%;
    width: 100%;
}

/* remove link border after click */
a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.borderless-table {
    border: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.125);
    border-radius: 3px 3px !important;
}

.borderless-table > thead > tr > td,
.borderless-table > thead > tr > th {
    border: none;
}

/* --------------------- */

.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

/* -------------- */

/* The switch - the box around the slider */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

.toggle-switch-disabled {
    color: red;
}

/* Hide default HTML checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .toggle-slider {
  background-color: #2196F3;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px #2196F3;
}


input:checked + .toggle-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.toggle-slider.toggle-round {
  border-radius: 27px;
}

.toggle-slider.toggle-round:before {
  border-radius: 50%;
}

.fingerprint {
    font-size: 85%;
}

.remote-heading {
    font-size: 80%;
}

.download-btn {
	padding-top: 15px;
}
