#sidebar-bottom {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-bottom: 10px;
}

#sidebar-bottom-text {
	margin-left: 25px;
    font-size: 75%;
}


.nav-link {
  margin-left: 50px;
  font-weight: 500;
  font-size: 110%;
  font-weight: 600;
  color: #333;
  padding-right: 66px !important;
  padding-left: 0px !important;
}

.nav-link.active {
  color: #007bff !important;
}

@media all and (max-width: 768px) {
    .logo {
        font-size: 2em;
    }

	.ls-action-toolbar {
		color: red !important;
		flex-direction: column;
	}
}

@media all and (min-width: 768px) {
    .logo {
		padding-top: 20px;
		padding-bottom: 20px;
        font-size: 4em;
    }

	.ls-action-toolbar {
		color: blue !important;
		flex-direction: row;
	}
}

.logo-failure {
    color: red;
}

#remote-add-conflict-dropdown{
    padding-left: 2px !important;
    padding-bottom: 4px !important;
}

/* ---------------- */


.input-group-addon {
    background:transparent;
}

.input-group-addon button {
    border: 0px;
    background:transparent;
    padding: 0px;
}

.stylish-input-group .form-control{
	border-right: 0;
	box-shadow:0 0 0;
	border-color: #ccc;
}
.stylish-input-group .input-group-append {
    border:0;
    background:transparent;
}

/* ---------------- */

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .1s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/* ---------------- */

/* Add a bit of space before the main content */
#main-header-row {
    margin-top: 25px;
}

#main-content-row {
    margin-top: 25px;
}

#the-main {
	height: 100%;
}

/* Remove the grey background from the breadcrumbs */
.breadcrumb {
    border:0;
    background:transparent;
}

.file-list-icon {
  color: #007bff;
}

#share-list {
	list-style-type: none;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


.login-form {
	max-width: 38vw;
	margin: 50px auto;
}

.login-background {
    /* background by SVGBackgrounds.com */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E"); */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='290' height='290' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23608f57' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%2374ad69' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23608f57' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%2374ad69' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%237f8f53' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%239bad64' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%239bad64' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%237f8f53' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%237f8f53' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%239bad64' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}

.login-form > form {
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.3); 
	padding: 30px;
}

.login-form h2 {
	margin: 0 0 15px;
}
.login-input, .login-btn {
	min-height: 38px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 2px;
}

.login-btn {
	font-weight: bold;
	margin-top: 15px;
}

.login-header {
	padding-bottom: 15px;
}

.progress-cancel {
	padding: 0px;
	margin: 0px;
}

.notification-list > .alert {
	margin-bottom: 5px;
    height: 40px;
    line-height: 40px;
    padding: 0px 15px;
	font-size: 80%;
}

.notification-close-btn {
	color: rgba(0, 0, 0, 0.5);

	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

#action-btn {
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;

	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 2px;

    width: 100%;
    font-size: 92%;
}

.scrollable-modal-row {
    max-height: 42vh;
    overflow-y: scroll;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: rgba(235, 245, 255);
}

.sort-button-container {
    overflow: hidden;
    white-space: nowrap;
}

.sort-button-container * {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

.sort-button {
	padding-top: 4px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;

	margin-top: 0px;
    margin-right: 0px;
    margin-left: 3px;
    margin-bottom: 5px;
	background: white;
}

.sort-button-selected {
	color: #007bff;
}

body, html, .container-fluid {
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    max-height: 100%;
}

main {
    max-height: 100%;
    overflow-y: auto;
}

@media all and (max-width: 1200px) {
    .toolbar {
        padding-left: 25vw;
        padding: 10px;
        margin: auto;
        width: 50%;
    }
}

#select-label {
    text-align: left;
    font-size: 90%;
    width: 100%;
}

/* remove link border after click */
a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.borderless-table {
    border: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.125);
    border-radius: 3px 3px !important;
}

.borderless-table > thead > tr > td,
.borderless-table > thead > tr > th {
    border: none;
}

/* --------------------- */

.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

/* -------------- */

/* The switch - the box around the slider */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

.toggle-switch-disabled {
    color: red;
}

/* Hide default HTML checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .toggle-slider {
  background-color: #2196F3;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px #2196F3;
}


input:checked + .toggle-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.toggle-slider.toggle-round {
  border-radius: 27px;
}

.toggle-slider.toggle-round:before {
  border-radius: 50%;
}

.fingerprint {
    font-size: 85%;
}

.remote-heading {
    font-size: 80%;
}

.download-btn {
	padding-top: 15px;
}
