span.strikethrough { text-decoration: line-through; }

a {
    color: #1866bc !important;
}

#navbar a {
    color: #18bc9c !important;
}

.alert-info {
    background-color: #5cb7f5a1;
    color: #333;
}

.alert-warning {
    background-color: #f39c1281;
    color: #333;
}

pre {
    color: #4e5858;
}

.form-control {
    padding: 1px 2px;
    height: 35px;
    margin-top: 5px;
}

.navbar-brand {
    font-weight: 900;
}

.caption-text {
    font-weight: 900;
}

#sidebar > li {
    display: block;
}

#sidebar {
    padding-left: 10px;
    position: relative;
}

/* Make the ``brig`` markup in page color */
.pre {
    color: #1866bc !important;
    color: #18bc9c !important;
}

/* Maket the selected item in the sidebar a little darker */
a.current {
    background-color: #00000011;
}

tbody {
    text-align: left !important;
}
