span.strikethrough { text-decoration: line-through; }

a {
    color: #1866bc !important;
}

#navbar a {
    color: #18bc9c !important;
}

.alert-info {
    background-color: #3498dba1;
}

.alert-warning {
    background-color: #f39c1281;
    color: black;
}

pre {
    color: #4e5858;
}

.form-control {
    padding: 1px 2px;
    height: 35px;
    margin-top: 5px;
}

.navbar-brand {
    font-weight: 900;
}
