<!doctype html>
<html lang="en">
    <head>
        <title>Main</title>

        <!-- Bootstrap meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSRF Source -->
        <meta name="gorilla.csrf.Token" content="{{.csrfToken}}">

        <!-- Websocket details -->
        <meta name="brig.websocket.addr" content="{{.wsAddr}}">

        <!-- HTTP details -->
        <meta name="brig.http.addr" content="{{.httpAddr}}">

        <!-- Style sheets -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/fontawesome.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/default.css">

        <!-- Scripts -->
        <script src="/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="/js/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="/js/app.js"></script>
        <script src="/js/smoothscroll.js"></script>
    </head>
    <body>
        <div id="elm">This page sadly needs JavaScript. Please enable it in your browser.</div>
        <script src="/js/init.js"></script>
    </body>
</html>
