    <footer class="site-footer">
        <div>
        <a href="https://github.com/{{ .Site.Params.github }}/brig" title="GitHub"><span class="fa fa-github fa-2x"></span></a>
        &nbsp; &nbsp; &nbsp;
        {{ if .Site.Params.email }}
        <a href="mailto:{{ .Site.Params.email }}" title="Email {{ .Site.Params.email }}"> <i class='fa fa-envelope-o fa-2x'></i></a>
        &nbsp; &nbsp; &nbsp;
        {{ end }}
        <a href="http://brig.readthedocs.io/en/latest" title="Documentation"> <i class='fa fa-book fa-2x'></i></a>
        </div>
    </footer>
